body {
    text-align: center;
    margin:0;
    padding-top: 800px;
    background-color: black;
}

#Img {
    width: 150px;
    margin-bottom: 50px;
    border-radius: 30%;
    margin-top: 50px;
}
#Body {
    position:absolute;
overflow: hidden;
height: 800px;
height: 100%;
width: 100%;
background: linear-gradient(#020024 0%,#090979 68%, #00d4ff 100%);
left: 0;
top: 0;
bottom: 0;
right: 0;
opacity: 0.75;
color: white;
display: table;
}
h1 {
    font-size: 50px;
    line-height: 1.2;
    font-family: 'lato',sans-serif;
}
h2 {
    font-size: 30px;
    line-height: 1.2;
    font-family: monospace;
}
#Bio {
    padding: 50px;
    text-align: center;
    font-size: 40px;
    background-image: url("Tesla.jpg");
    color: white;
}
p {
    font-size: 15px;
    line-height: 1.2;
    max-width: 450px;
    margin: 25px auto;
}

#Intro {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.Navbar {
    color:white;
    margin-top: 0;
    cursor: pointer;
    position: fixed;
    top: 0px;
    z-index: 9999;
    width: 100%;
    background-color: transparent;
    
}
.Menu {
    position: sticky;
    top: 0px;
    z-index: 9999;

    list-style-type: none;
    z-index: 10;
    top: 10px;
    left: 30px;
    display: flex;
    padding: 5px;
    margin: 10px,10px;
}
.Home {
    
    display: inline;
     color:white; 
      padding-left: 33px;
       padding-right: 25px; 
        font-family:fantasy;
         font-size: 20px;
         margin-right: 170px;
}
.Home:hover {
    font-size: 25px;
    text-decoration: underline;
}
li a {
    color: red;
    
}
#mycarousel{
    background-color: white;
}
#mycarousel p{
    color:black;
    font-size: 20px;
    margin-top: 15;
    margin-bottom: 15;
}
#mycarousel img{
    
    height: 300px;
    margin-top: 35;
    
}
.container {
    text-align: center;
    background-color: black;
}
h2 {
    color: white;
}